.articleBlockContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    padding: 10px;
   
}

.articleBlockTitle {
    position: relative;
    width: 80%;
    margin-bottom: 20px;
}

.articleBlockTitle h5 {
    font-size: 22px;
    text-align: center;
    color: #44474F;
    word-spacing: -0.3em;
}

.articleBlockContent {
    position: relative;
    font-size: 18px;
} 

.particle {
    position: absolute;
}

.articleTextBlock {
    width: calc(90vw - 30px * 2);
    height: fit-content;
    max-height: 68vh;
    color: #44474F;
    overflow: scroll;
}

.articleTextBlock h5 {
    width: fit-content;
    font-size: 20px;
    color: #FFF;
    background-color: #FF9742;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 20px;

}

.articleTextBlock p {
    color: #44474F;
    margin-bottom: 30px;
}

.articleTextBlock strong {
    font-weight: 800;
    text-decoration-line: underline;
    text-decoration-color: #FF9742;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.modalImageContainer {
    position: relative;
    width: calc(64vh * 1.53);
    height: 64vh;
}

.modalImageContent {
    top: 0;
    left: 0;
    position: absolute;
    width: calc(64vh * 1.53);
    height: 64vh;
    transition: 0.3s ease;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.imageActionsTabsContainer {
    background: #FF9742;
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    gap: 16px;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}
.imageActionsTab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border: 2px solid #FF9742;
    transition: 0.3s ease;
}

.imageActionsTab:hover {
    transform: scale(1.05)
}

.imageActionsTab img {
    width: 30px;
    height: 30px;
}
.modalImage {
    width: 100%;
    height: 100%;



}
.articleVideoContent {
    margin-top: 6px;
    height: 60vh;
    border-radius: 30px;
}

.articleBlockContent {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.articleBlockButtonContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.articleBlockButton {
    color: #FFF;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    background-color: #3EC947;
    border: #3EC947 3px solid;
    word-spacing: -0.3em;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.articleBlockButton:hover {
    border: #FFF 3px solid;
    transform: scale(1.08);
    transition: 0.3s ease;
}

/* Modal gallery */




.modalGallery {
    position: relative;
    width: 44vw;
    margin-top: 10px;
}

.gallerySlider {
    width: 100%;
    
}

.gallerySlide {
    padding-bottom: 30px;
}

.gallerySlider img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1.6;
}

/* Modal Quiz */ 

.quizWindow {
    position: relative;
    height: 450px;
    width: 800px;
    transition: 0.5s ease;
    margin-top: 20px;

}

.quizQuestionContainer {
    position: relative;
    display: flex;
    width: 320px; 
    padding: 8px 0;  
    overflow: hidden;
}

.quizQuestion {
    position: relative;
    display: flex;
    color:#44474F;
    flex-basis: 320px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 320px;
    left: 0;
    justify-content: center;
    transition: 0.5s ease;
}

.quizQuestion h5 {
    font-size: 24px;
}

.questionBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.quizQuestion button {
    position: relative;
    top: 0;
    background-color: #FF9742;
    color: #FFF;
    font-size: 14px;
    width: 300px;
    height: 80px;
    border: none;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #FF9742;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.quizQuestion button:hover {
    transform: scale(1.03);
    border: 2px solid #FFF;
    transitioN: 0.2s ease;
}

.quizCharacter {
    position: absolute;
    width: 390px;
    height: 370px;
    background-image: url('/fox.png');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -98px;
    left: 10px;
}

.questionTitleContainer {
    position: relative;
    background: #D9D9D9;
    width:fit-content;
    height: fit-content;
    max-width: 380px;
    padding: 16px;
    top: 8px;
    border-radius: 20px;
    font-size: 16px;
    word-spacing: -8px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.questionTitleContainer span {
    position: absolute;
    
    left: -12px;
    top: calc(50% - 18px);
    display: block;
    width: 20px;
    height: 36px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    
    background-color: #D9D9D9;
    

}

.questionTitleContainer h5 {
    font-size: 16px;
}

.stageContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.quizWindowHeader {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height:44px;
    margin-bottom: 14px;
    margin-top: -22px;
    margin-bottom: 18px;
}

.quizCloseBtn {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 42px;
    height: 42px;
    background-color:#FD6B53;
    border: 2px #FD6B53 solid;
    border-radius: 50%;
    margin-right: 10px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
    transition: 0.3s;
}

.quizCloseBtn:hover {
    transform: scale(1.1) rotate(180deg);
    border-color: #FFF;
    transition: 0.3s ease;
}

.btnLine {
    position: absolute;
    width: 28px;
    height: 3px;
    top: calc(50% - 1.5px);
    left: calc(50% - 14px);
    background-color: #FFF;
    border-radius: 5px;
}
.questionImage {
    position: absolute;
    left: 20px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(0);
    transition: 0.3s ease;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
    z-index: -1;

}

.quizResultContainer {
    position: absolute;
    top: 290px;
    width: 310px;
    height: 80px;
    color: #FFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9742;
    border-radius: 20px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: -1;
    transform: translateY(0);
    transition: 0.3s ease;
}

.quizResultContentContainer {
    position: relative;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.quizResultContentContainer .progressBar {
    position: relative;
    height: 93%;
    width: 44px;
    left: 36px;
    border-radius: 20px;
    background: linear-gradient(#5EE551 0%, #FBFB11 50%, #E43135 100%);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* QuizBar */

.quizBar {
    position: relative;
    height: 30px;
   
}

.quizBarStage {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 1;
    transition: 0.5s ease;
}

.quizBarLine {
    position: absolute;
    width: 44px;
    height: 6px;
    top: 11.5px;
    left: 0;
    background-color: #D9D9D9;
    z-index: 0;
    transition: 0.5s ease;
}

.quizButtonWrong {
    background-color: #D13538 !important;
    border-color: #D13538 !important;
    transition: 0.6s ease;
    animation-name: wrongButton;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

.quizButtonCorrect {
    background-color: #3EC947 !important;
    border-color: #3EC947 !important;
    transition: 0.3s;
}

@keyframes soar {
   
    50% {
        transform: translate(0px, 10px) scale(0.96);
    }
}

@keyframes wrongButton {
    33% {
        transform: rotate(3deg);
    }
    66% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg) scale(1.03);
    }
}

.quizConfirmButtonContainer {
    position: absolute;
    bottom: 0;
    left: calc(50% - 120px);
    z-index: -1;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease;
}
.quizConfirmButton {
    
    color: #FFF;
    font-size: 18px;
    width: 240px;
    padding: 10px;
    background-color: #5EE551;
    border: 3px #5EE551 solid;
    border-radius: 20px;
    word-spacing: -0.3em;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    
}

.quizConfirmButton:hover {
    border: #FFF 3px solid;
    transform: scale(1.08);
    transition: 0.3s ease;
}

@media screen and (max-width: 1100px) {
    .modalGallery {
        width: 55vw;
    }
}

@media screen and (max-width: 749px) {
    .quizWindow {
        width: 300px;
        height: 480px;
    }
}
@media screen and (max-width: 600px) {
    .articleBlockTitle h5 {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    .modalGallery {
        width: 76vw;
        margin: 0 4px;
    }
    .gallerySlider img {
        border-radius: 16px;
    }
}
@media screen and (max-width: 440px) {
    .articleBlockTitle h5 {
        font-size: 16px;
    }
    .articleTextBlock {
        width: calc(96vw - 60px);
    }
}
@media screen and (max-width: 820px) {
    .articleVideoContent {
        height: auto;
        width: 80vw;
    }
    
    .articleBlockButton {
        font-size: 16px;
        padding: 2px 8px;
        border-radius: 16px;
    }

    .articleBlockButtonContainer {
        height: 40px;
    }
    .articleVideoContent {
        border-radius: 16px;
    }

    .articleBlockTitle {
        width: 76%;
    }
}

@media screen and (max-width: 749px) {
    
    .quizQuestion {
        flex-basis: 300px;
        width: 300px;
    }

    .quizQuestion button {
        width: 280px;
        height: 74px;
    }
    .quizBarStage {
        width: 18px;
        height: 18px;
        font-size: 12px;
    }
    .quizBarLine {
        height: 4px;
        width: 16px;
        top: 7px;
    }
    .quizCloseBtn {
        width: 34px;
        height: 34px;
        top: 14px;
        right: 8px;
    }

    .btnLine {
        width: 24px;
        left: calc(50% - 12px);
    }
    .quizWindowHeader {
        height: 24px;
        margin-bottom: 10px;
    }
    .stageContainer {
        flex-direction: column;
        justify-content: space-between;
        height: 430px;
    }
    .questionTitleContainer {
        padding: 12px;
        max-width: 280px;
    }
    .questionTitleContainer h5 {
        font-size: 16px;
    }

    .quizResultContainer {
        font-size: 18px;
        width: 286px;
        height: 70px;
    }

    .quizResultContentContainer {
        width: 300px;
        height: 100px;
    }
    
    .quizConfirmButton {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: center;
        font-size: 16px;
        width: 210px;
        padding: 6px 2px;
    }

    .quizResultContentContainer .progressBar {
        width: 200px;
        height: 20px;
        left: 0;
        background: linear-gradient(to left, rgb(94, 229, 81) 0%, rgb(251, 251, 17) 50%, rgb(228, 49, 53) 100%);

    }
    .quizQuestion {

    }

    .quizQuestion button {
        width: 260px;
        height: 56px;
        font-size: 14px;
        padding: 2px;
    }

    .quizConfirmButtonContainer {
        left: calc(50% - 105px);
    }

    .stageContainer {
        height: 472px;
    }
}
@media screen and (max-width: 589px) {
    .sheet:hover {
        transform: none;
    }
}