
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 20px;
}

.primaryHeader {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.primaryHeader .logo {
  display: block;
}


.primaryNav{
  display: block;
}
.page main {
    display: flex;
    padding: 0 20px;
}

.primaryNav a {
  margin-left: 10px;
}

.container {
  display: flex;
  width: 100%;
  padding: 40px;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items:start;
}

.align-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.headerContainer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primaryHeader {
  width: 1000px;
  height: 70px;;
  background-color: #3EC947;
  border-radius: 30px;
  color: #4F5564;
  word-spacing: -6px;
}

.primaryHeader h1 {
font-size: 30px;
}

.primaryNav {
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primaryNav a {
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.primaryNav a:hover {
  background-color: #FF9742;
  color: #FFF;
  transition: 0.3s ease;
}

.pageContentWrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.section-header {
  padding: 20px 0;
}

.section-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #44474F;
}

.gallery-swiper-button {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc((62vh - 40px) / 2 - 25px);
  border-radius: 50%;
  background-color: orange;
  z-index: 1;
  transition: 0.3s ease;
}



.gallery-swiper-button-next:hover {
  transform:translateX(3px);
  transition: 0.3s ease;
}

.gallery-swiper-button-prev:hover {
  transform:translateX(-3px) rotate(180deg);
  transition: 0.3s ease;
}

.gallery-swiper-button-prev {
  left: -25px;
  transform: rotate(180deg);
}

.gallery-swiper-button-next {
  left: calc(100% - 25px);
}

.gallery-swiper-button-disabled {
  background-color: #c4c4c4;
}

.gallery-swiper-button-disabled:hover {
  transform: none;
}

.gallery-swiper-button-prev.gallery-swiper-button-disabled:hover {
  transform: rotate(180deg);
}

.gallery-swiper-button img {
  position: relative;
  left: 2px;
}

.section-title {
  font-size: 28px;
  color: #44474F;
  padding: 40px
}