.sheetsContainer {
    display: grid;
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.sheet {
    position: relative;
    border-radius: 20px;
    
    width: 300px;
    height: 300px;
    background-color: green;

    color: #FFF;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s ease;
}

.sheetTitleContainer {
    position: relative;
    max-width: 250px;
    width: auto;
   
    height: auto;
    border-radius: 20px 0 20px 0;
    z-index: 2;
}

.sheetTitleContainer h3 {
    font-size: 18px;
    padding: 16px;
    color: #FFF;
    word-spacing: -4px;
}

.gradient {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 1;
}

.sheetImage {
    position: absolute;
    bottom: -52px;
    right: -40px;
    
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.sheet:hover {
    transform: scale(1.06);
    transition: 0.5s ease;
}

.sheet:hover .sheetImage {
    transform: scale(1.06);
    bottom: -40px;
    right: -30px;
}

.quizStatic {
    position: relative;
    width: 800px;
    height: 250px;
    background-color: #2E4E80;
    border-radius: 20px;
    padding: 30px;
    padding-right: 20px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease;
}


.quizStaticContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 190px;
    font-size: 28px;

}

.quizStaticContent h5 {
    color: #FFF
}

.quizStaticContent button {
    position: relative;
    width: 190px;
   
    height: 44px;
    font-size: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    background-color: #FF9742;
    border-radius: 13px;
    color: #FFF;
    padding-left: 20px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.quizStaticContent button:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}




.quizStaticContent .btnContent {
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizStaticContent .btnArrow {
    background-image: url('/arrow_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;

}

.quizStaticBackground {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-image: url('/quiz_static.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 155px;
}

.quizSheetsContainer {
    width: 284px;
    height:190px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 16px;
}

.quizSheetsContainer .quizSheet {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.quizSheetImage {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 8px;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3) )

    
}

/* Окно квиза */

.quizWindow {
    position: relative;
    height: 100%;
    width: 100%;
    
    transition: 0.5s ease;

}

.quizQuestionContainer {
    position: relative;
    display: flex;
    width: 300px; 
    padding: 8px 0;  
    overflow: hidden;
}

.quizQuestion {
    position: relative;
    display: flex;
    color:#44474F;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 300px;
    left: 0;
    justify-content: center;
    transition: 0.5s ease;
}

.quizQuestion h5 {
    font-size: 24px;
}

.questionBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.quizQuestion button {
    position: relative;
    top: 0;
    background-color: #FF9742;
    color: #FFF;
    font-size: 18px;
    width: 280px;
    height: 74px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #FF9742;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.quizQuestion button:hover {
    transform: scale(1.03);
    border: 2px solid #FFF;
    transitioN: 0.2s ease;
}

.quizCharacter {
    position: absolute;
    width: 390px;
    height: 370px;
    background-image: url('/fox.png');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -98px;
    left: 10px;
}

.questionTitleContainer {
    position: relative;
    background: #D9D9D9;
    width:fit-content;
    height: fit-content;
    max-width: 340px;
    padding: 16px;
    top: 8px;
    border-radius: 20px;
    font-size: 18px;
    word-spacing: -8px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.questionTitleContainer span {
    position: absolute;
    
    left: -12px;
    top: calc(50% - 18px);
    display: block;
    width: 20px;
    height: 36px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    
    background-color: #D9D9D9;
    

}

.questionTitleContainer h5 {
    font-size: 18px;
}

.stageContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.quizWindowHeader {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height:44px;
    margin-bottom: 23px;
}

.quizCloseBtn {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 42px;
    height: 42px;
    background-color:#FD6B53;
    border: 2px #FD6B53 solid;
    border-radius: 50%;
    margin-right: 10px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
    transition: 0.3s;
}

.quizCloseBtn:hover {
    transform: scale(1.1) rotate(180deg);
    border-color: #FFF;
    transition: 0.3s ease;
}

.btnLine {
    position: absolute;
    width: 28px;
    height: 3px;
    top: calc(50% - 1.5px);
    left: calc(50% - 14px);
    background-color: #FFF;
    border-radius: 5px;
}
.questionImage {
    position: absolute;
    left: 20px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.6s ease;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3))

}

.quizResultContainer {
    position: absolute;
    top: calc(100% + 120px);
    width: 310px;
    height: 80px;
    color: #FFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9742;
    border-radius: 20px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.quizResultContentContainer {
    position: relative;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.quizResultContentContainer .progressBar {
    position: relative;
    height: 93%;
    width: 44px;
    left: 36px;
    border-radius: 20px;
    background: linear-gradient(#5EE551 0%, #FBFB11 50%, #E43135 100%);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* QuizBar */

.quizBar {
    position: relative;
    height: 30px;
   
}

.quizBarStage {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 1;
    transition: 0.5s ease;
}

.quizBarLine {
    position: absolute;
    width: 44px;
    height: 6px;
    top: 11.5px;
    left: 0;
    background-color: #D9D9D9;
    z-index: 0;
    transition: 0.5s ease;
}

.quizButtonWrong {
    background-color: #D13538 !important;
    border-color: #D13538 !important;
    transition: 0.6s ease;
    animation-name: wrongButton;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

.quizButtonCorrect {
    background-color: #3EC947 !important;
    border-color: #3EC947 !important;
    transition: 0.3s;
}

@keyframes soar {
   
    50% {
        transform: translate(0px, 14px) scale(0.96);
    }
}

@keyframes wrongButton {
    33% {
        transform: rotate(3deg);
    }
    66% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg) scale(1.03);
    }
}